@import '../../../theme/web/custom-variables';

.redClass {
    color:red;
    text-align: right !important;
    padding-right: 10px;
    
}
.bulueClass {
    color: green;
   

}
.myscroll {
    overflow:scroll;
}

